body {
  font-family: "Roboto", sans-serif;
  background-color: #282c34;
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-list {
  background-color: #39424e;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
}

h1 {
  font-size: 3rem;
  color: #61dafb;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 8px;
  transition: background-color 0.5s ease;
}

.add-button,
.edit-button,
.cancel-button,
.delete-button {
  font-size: 1.4rem;
  padding: 8px;
}

.add-button {
  background-color: #61dafb;
}

.add-button:hover {
  background-color: #4fa3d1;
}

.delete-button {
  background-color: #ff5e5e;
}

.delete-button:hover {
  background-color: #d13c3c;
}

.move-button {
  background-color: #ffbf3b;
  border-radius: 50%;
}

.move-button:hover {
  background-color: #d1a032;
}

.edit-button {
  background-color: hsl(240, 50%, 50%);
}

.edit-button:hover {
  background-color: hsl(240, 50%, 40%);
}

.cancel-button {
  background-color: #757575;
}

.cancel-button:hover {
  background-color: #616161;
}

.edit-mode:focus {
  outline: 2px solid #4c2a8e;
}

.add-mode:focus {
  outline: 2px solid #61dafb;
}

.empty-list {
  color: #ccc;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: hsl(0, 0%, 97%);
  border: 2px solid hsla(0, 0%, 85%, 0.75);
  padding: 15px;
  border-radius: 10px;
  position: relative;
  word-break: break-word;
  white-space: pre-wrap;
  transition: all 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrows::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 55px;
  width: 1px;
  background-color: #c5c5c5;
}

.text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}

.input-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.update-cancel,
.edit-delete {
  display: flex;
  gap: 6px;
}

/* .move-button {
  display: flex;
  justify-content: center;
  align-items: center;
} */
